* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.main1 {
  width: 100%;
  height: 200px;
  background-image: url(演習６img/box1.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 auto;
}
.main2 {
  width: 100%;
  height: 200px;
  background-image: url(演習６img/box2.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 auto;
}
.main3 {
  width: 100%;
  height: 200px;
  background-image: url(演習６img/box3.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 auto;
}

.main4 {
  width: 100%;
  height: 200px;
  background-image: url(演習６img/box4.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 auto;
}
