* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #6c6b6b;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(演習７img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-content {
  width: 40%;
  height: 400px;
}
.main-visual-name {
  padding: 20px 20px;
  font-size: 40px;
}

main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 50px auto;
}
.main-blog1 {
  width: 840px;
  border-bottom: 1px #6c6b6b solid;

  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

.main-blog2 {
  width: 840px;

  border-bottom: 1px #6c6b6b solid;

  margin: 0 auto;
  padding: 30px 0;
}
.main-blog3 {
  width: 840px;

  padding: 30px auto;
  border-bottom: 1px #6c6b6b solid;
  margin: 0 auto;
  padding: 30px 0;
}
.main-blog4 {
  width: 840px;

  padding: 30px auto;
  border-bottom: 1px #6c6b6b solid;
  margin: 0 auto;
  padding: 30px 0;
}
